.add-mobile-icon{
	position: fixed;
	bottom: 1rem; 
    left: 50%; 
    transform: translate(-50%,-50%);
	font-size: 4rem;
	display: none;
	z-index: 3;
}

@media(max-width: 900px){
	.add-mobile-icon{
		display: block;
	}
}
