
.quote-container{
	background-color: #EEEEEE;
	border: 2px solid #DDDDDD;
	border-radius: 0.5rem;
	min-height: 10rem;
	padding-bottom: 1.5rem;
	position: relative;
}

.text-container{
	width: 100%;
	padding: 1rem;

}

.links-container{
	background-color:#DDDDDD ;
	width: 100%;
	padding: 0.5rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
}
.links-container .icon{
	font-size: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
}
.links-container p{
	display: contents;
	font-size: 1.3rem;

}

.quote-author{
	text-align: end;
}

.like{
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.icon-red{
	font-size: 1.5rem;
	margin-right: 1rem;
	cursor: pointer;
	color: red;
}

.share-btn{
	list-style: none;
	color: black;
}

.copy-btn:hover{
	color: #4B7BE5;
}