.spinner-content{
	position: relative;
	margin: 10rem auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 15rem;

}

.spinner{
	background-color: #73777B;
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 50%;
	
}
/* animation: name duration timing-function delay iteration-count direction fill-mode; */

.spinner1{
	animation: spinner1 3s infinite;
}

.spinner2{
	animation: spinner1 3s 0.5s infinite;
}

.spinner3{
	animation: spinner1 3s 1s infinite;
}

.spinner4{
	animation: spinner1 3s 1.5s infinite;
}

@keyframes spinner1{
	0%{
		transform: scale(1.5);
	}
	50%{
		transform: scale(0.5);
	}
	100%{
		transform: scale(1.5);
	}
}