
.nav-bar{
	width: 100%;
	background-color: #383838;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	padding: 0.7rem 1rem;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
}

.nav-bar .logo{
	font-size: 1.8rem;
	display: contents;
	color: #fff;
}


.link{
	text-decoration: none;
	color: #fff;
	margin: 0 0.5rem;
	font-size: 1.2rem;
}


.navbar a{
	color: #fff;
	text-decoration: none;
	margin: 0 0.5rem;
}

.user-icon{
	font-size: 2.5rem;
	color: #fff;
	cursor: pointer;
}

.mobile-add-quote, .mobile-hamburger-menu{
	display: none;
}



@media(max-width: 950px){
	.link{
		font-size: 1rem;
	}
}

@media(max-width: 900px){
	.links{
		display: none;
	}

	.buttons{
		display: none;
	}
	.nav-bar{
		width: 100%;
		background-color: #383838;
		display: flex;
		align-items: center;
		justify-content: space-between;
		color: #fff;
		padding: 0.7rem 1rem;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 6;
	}

	.mobile-hamburger-menu{
		display:block;
		font-size: 2.5rem;
		color: #fff;
		cursor: pointer;
		
	}
	.mobile-menu{
		width: 100%;
		height: 100vh;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 4;

	}
	
	.menu-content{
		height: 100%;
		width: 80%;
		padding: 0 2rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items:center;
		background-color: #383838;
		position: absolute;
		right: 0;
		top: 0;
	}

	.mobile-menu .link{
		margin: 1rem 0;
		font-size: 1.5rem;
		cursor: pointer;
	}

	.link-p:hover{
		color: #0d6efd;
	}

	.mobile-buttons{
		margin: 1rem 0;

	}


	
}
