.form-section{
	width: 100%;
	min-height: 100vh;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form{
	width: 25rem;
	padding: 1rem;
	background-color: #EEEEEE;
	border: 2px solid #DDDDDD;
	border-radius: 0.5rem;
}

.form h1{
	text-align: center;
} 

.form button{
	width: 100%;
}

.register{
	margin-top: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.register p{
	display: contents;
}