@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto:wght@500&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App{
	width: 100%;
	padding: 4rem 1rem 8rem;
	min-height: 100vh;
	position: relative;
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Poppins', sans-serif;
}
